
$opacity: 0.1;
$opacity2: 0.1;


.header-bg  {
    background-color: #303030 ;
    position: absolute;
    z-index: 4;
    width: 100vw;
    top: 0;
    height: 62px;
    background: linear-gradient(
        -45deg,
        transparentize(#c02d00, $opacity2),
        transparentize(#1b1b1b, $opacity2),
        transparentize(#a30303, $opacity2),
        transparentize(#1f1f1f, $opacity2)
      );
      background-size: 400% 400%;
      animation: gradient-animation 15s ease infinite;
}

.artist-container {
    padding: 62px 15px;
    .hero-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background: linear-gradient(
            -45deg,
            transparentize(#c02d00, $opacity),
            transparentize(#1b1b1b, $opacity),
            transparentize(#a30303, $opacity),
            transparentize(#1f1f1f, $opacity)
          );
          background-size: 400% 400%;
          animation: gradient-animation 15s ease infinite;
          height: 100%;
          width: 100%;
    }
    .card {
        width: calc(25% - 8px);
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 8px;
        background-color: #242424;
        opacity: 0.8;
        
        @media only screen and (max-width: 1400px) {
            width: calc(50% - 8px);

        }
        @media only screen and (max-width: 800px) {
            width: 100%;
        }
        .mat-card-image {
            height: 200px;
            background-size: cover;
            background-position: top;
        }
        .mat-card-avatar {
            height: 75px;
            width: 75px;
            background-size: cover;
            border-radius: 4px;
            flex-shrink: 0;
            object-fit: cover;
        }
        .mat-card-content {
            height: 110px;
        }
    }
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
