<section class="contact-container">

    <mat-card class="hero-wrapper">
        <div class="hero-overlay"></div>
        <div class="homepage-temp">
            <div class="contact-info">
                <h1>contact info:</h1>
                <p>This city is burning is an independent record label based in Orange County, California. Need to reach us? Here's how:</p>
                <h2>general: </h2>
                <p>info@thiscityisburning.com</p>
                <h2>demos / submissions:</h2>
                <p>jake@thiscityisburning.com</p>
                <h2>press / licensing:</h2>
                <p>josh@thiscityisburning.com</p>
        
                <a type="button" href="https://discord.gg/b8DwZ7aAZv" mat-button>join the discord</a>
        
            </div>
        </div>
    </mat-card>
 

    
</section>