<mat-drawer-container class="global-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <ul>
      <li>
        <button routerLink="/home-component" routerLinkActive="active" mat-button>Home</button>
      </li>
      <li>
        <a type="button" href="https://this-city-is-burning.myshopify.com/" mat-button>Shop</a>
      </li>
      <li>
        <button routerLink="/artists-component" routerLinkActive="active" mat-button>Artists</button>
      </li>
      <li>
        <a type="button" href="https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw" mat-button>Youtube</a>
      </li>
      <li>
        <button routerLink="/about-component" routerLinkActive="active" mat-button>About</button>
      </li>
      <li>
        <button routerLink="/contact-component" routerLinkActive="active" mat-button>Contact</button>
      </li>
    </ul>
  </mat-drawer>

  <div class="main-content">


    <!--Apps Are Routed Here-->
    <perfect-scrollbar style="max-width: 100%; max-height:100vh;" [scrollIndicators]="true">

          <!--Header-->
    <mat-toolbar class="header">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      <button routerLink="/home" routerLinkActive="active" mat-button>home</button>
      <button routerLink="/artists" routerLinkActive="active" mat-button>artists</button>
      <button routerLink="/contact" routerLinkActive="active" mat-button>contact</button>

      <span class="example-spacer"></span>

      <a type="button" href="https://this-city-is-burning.myshopify.com/" mat-button>
        <mat-icon>shopping_cart</mat-icon>
      </a>
        
    </mat-toolbar>
      <router-outlet></router-outlet>
    </perfect-scrollbar>

  </div>

</mat-drawer-container>
