<mat-card class="hero-wrapper">
    <div class="hero-overlay"></div>
    <div class="homepage-temp">
        <h1>
            <span class="header-1">この街は燃えています</span>
            <span class="header-2">this city is burning</span>
            <span class="header-3">SUMMER 2021</span>
        </h1>
        <button type="button" onClick="window.open('https://shop.thiscityisburning.com')" mat-button>shop</button>
        <button type="button" onClick="window.open('https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw')" mat-button>youtube</button>
        <button type="button" onClick="window.open('https://www.instagram.com/thiscityisburning_/')" mat-button>instagram</button>



    </div>
</mat-card>