<mat-card class="hero-wrapper">
    <div class="hero-overlay"></div>
    <div class="homepage-temp">
        <h1>
            <span class="header-1">この街は燃えています</span>
            <span class="header-2">this city is burning</span>
            <span class="header-3">SUMMER 2021</span>
            <a type="button" href="https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw" mat-button>shop</a>
            <a type="button" href="https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw" mat-button>youtube</a>
            <a type="button" href="https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw" mat-button>discord</a>
            <a type="button" href="https://www.youtube.com/channel/UCQcLnW_fTAs5FYaMsCvG1Rw" mat-button>instagram</a>
        </h1>
    </div>
</mat-card>